# Environment variables for SIGESP
TZ=America/Caracas

# Optional postgres logging level. Set to "all" to log all statements.
POSTGRES_LOG_STATEMENT=all

# Optional host overrides for the Dockerized faketime API.
FAKETIME_API_BIND_PORT=8789
